<?xml version="1.0"?>
<launch>


<!--####################################### ARGUMENTS ##########################################-->
  <arg name="veh_frame_id" default="base_link" />

  <!-- velodyne common parameters -->
  <arg name="velodyne_calib" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
  <arg name="tf_period_in_ms" value="10"/>
  <arg name="vlp_min_range" value="1.81"/>

  <!-- base_link to velodyne, tf parameters-->
  <arg name="vlp1_x" value="1.624" />
  <arg name="vlp1_y" value="0.0" />
  <arg name="vlp1_z" value="1.64" />
  <arg name="vlp1_yaw" value="-0.045" />
  <arg name="vlp1_pitch" value="0.0" />
  <arg name="vlp1_roll" value="0.0" />
  <arg name="vlp1_parent_frame_id" value="$(arg veh_frame_id)" />
  <arg name="vlp1_frame_id" value="velodyne" />

  <!-- velodyne to velodyne_rear, tf parameters-->
  <arg name="vlp2_x" default="-1.4775"/>
  <arg name="vlp2_y" default="-0.06647"/>
  <arg name="vlp2_z" default="0.0"/>
  <arg name="vlp2_yaw" default="0.0"/>
  <arg name="vlp2_pitch" default="0.0"/>
  <arg name="vlp2_roll" default="0.0"/>
  <arg name="vlp2_parent_frame_id" default="velodyne"/>
  <arg name="vlp2_frame_id" default="velodyne_rear"/>

  <!-- base_link to camera, tf parameters-->
  <arg name="cam_x" default="1.693"/>
  <arg name="cam_y" default="0.0"/>
  <arg name="cam_z" default="1.588"/>
  <arg name="cam_yaw" default="0.0"/>
  <arg name="cam_pitch" default="0.0"/>
  <arg name="cam_roll" default="0.0"/>
  <arg name="cam_parent_frame_id" default="$(arg veh_frame_id)"/>
  <arg name="cam_frame_id" default="camera"/>

  <!-- ESR arguments -->
  <arg name="esr1_parent_frame_id" value="$(arg veh_frame_id)" />
  <arg name="esr1_frame_id" default="esr_1" />
  <arg name="esr1_upside_down" default="true" />
  <arg name="esr1_viz_mature_tracks_only" default="true" />
  <arg name="esr1_kvaser_hardware_id" default="048054" />
  <arg name="esr1_kvaser_circuit_id" default="0" />
  <arg name="esr1_x" default="2.781" />
  <arg name="esr1_y" default="0" />
  <arg name="esr1_z" default="-0.01" />
  <arg name="esr1_yaw" default="0" />
  <arg name="esr1_pitch" default="0" />
  <arg name="esr1_roll" default="0" />

  <!-- IMU arguments -->
  <arg name="imu1_parent_frame_id" value="$(arg veh_frame_id)" />
  <arg name="imu1_frame_id" default="imu" />
  <arg name="imu1_x" default="0" />
  <arg name="imu1_y" default="0" />
  <arg name="imu1_z" default="0" />
  <arg name="imu1_yaw" default="0" />
  <arg name="imu1_pitch" default="0" />
  <arg name="imu1_roll" default="0" />

  <!--Novatel Propak6/ Powerpak7-->
  <arg name="novatel_connection_type" default="tcp"/> <!--Change this to "Serial" if needed-->
  <arg name="novatel_device" default="192.168.74.10:3000"/> <!--Change this to a USB device like /dev/ttyUSBX for Serial-->
  <arg name="novatel_imu_rate" default="100"/>
  <arg name="novatel_imu_frame_id" default="/novatel/imu"/>
  <arg name="novatel_gps_frame_id" default="/novatel/gps"/>
  <arg name="novatel_verbose" default="false"/>
  
  <!--GNSS origin frame data. UTM coords selected from metec facility origin-->
  <arg name="fix" default="novatel/fix"/>
  <arg name="utm_east" default="350565.27"/>
  <arg name="utm_north" default="5813723.57"/>
  <arg name="utm_alt" default="110.0"/>
  <arg name="map_offset_x" default="94" />
  <arg name="map_offset_y" default="139" />
  <arg name="map_offset_rotation" default="2.0" />

  <!--Leopard Imaging UVC camera parameters-->
  <arg name="camera_calib" default="$(env HOME)/.autoware/metec/calibration/dummy-calibration.yml"/>

  <!-- Map origin points in lat lon and utm coordinates stored here

  Point 1: Outside croydon office driveway
    Lat:          -37.814275
    Lon:          145.292797
    Alt:          126.0
    UTM Easting:  349729.34
    UTM Northing: 5813418.41
    UTM Zone:     55H

  Point 2: Metec Driver Training Facility crosswalk pole
    Lat:          -37.811663
    Lon:          145.302353
    Alt:          110.0
    UTM Easting:  350565.27
    UTM Northing: 5813723.57
    UTM Zone:     55H
  -->

<!--##################################### LAUNCH CONFIG ########################################-->
  <arg name="with_vlp16s" default="true" />
  <arg name="with_esr" default="true" />
  <arg name="with_novatel" default="true" />
  <arg name="with_gnss_localisation" default="true" />

<!--##################################### TRANSFORMS ###########################################-->
  <!-- x y z (in meters) and yaw pitch roll (in radians)
  x: Positive forward along the vehicle
  y: Positive to the left 
  z: Upwards
  Yaw: About z axis (non-zero for the SRRS)
  Pitch: About Y axis (should be zero for SRRs but make sure)
  Roll: About x axis(should be zero for the SRRs)

 No transforms for the cameras
 No yaw/pitch/roll for the ESR
 x,y,z and yaw=0, pitch,roll for the VLP16s

-->
 
  <!--ESR transforms-->
  <node pkg="tf" 
        type="static_transform_publisher" 
        name="$(arg esr1_parent_frame_id)_to_$(arg esr1_frame_id)" 
        args="$(arg esr1_x) $(arg esr1_y) $(arg esr1_z) 
              $(arg esr1_yaw) $(arg esr1_pitch) $(arg esr1_roll)
              $(arg esr1_parent_frame_id) $(arg esr1_frame_id) $(arg tf_period_in_ms)" /> 

  <!-- VLP16 transforms-->
  <node pkg="tf" 
        type="static_transform_publisher"
        name="$(arg vlp1_parent_frame_id)_to_$(arg vlp1_frame_id)" 
        args="$(arg vlp1_x) $(arg vlp1_y) $(arg vlp1_z) 
              $(arg vlp1_yaw) $(arg vlp1_pitch) $(arg vlp1_roll)
              $(arg vlp1_parent_frame_id) $(arg vlp1_frame_id) $(arg tf_period_in_ms)">
  </node>
  <node pkg="tf" 
        type="static_transform_publisher" 
        name="$(arg vlp2_parent_frame_id)_to_$(arg vlp2_frame_id)" 
        args="$(arg vlp2_x) $(arg vlp2_y) $(arg vlp2_z) 
              $(arg vlp2_yaw) $(arg vlp2_pitch) $(arg vlp2_roll)
              $(arg vlp2_parent_frame_id) $(arg vlp2_frame_id) $(arg tf_period_in_ms)">
  </node>

  <!--Camera transform -->
  <node pkg="tf" 
        type="static_transform_publisher"
        name="$(arg cam_parent_frame_id)_to_$(arg cam_frame_id)" 
        args="$(arg cam_x) $(arg cam_y) $(arg cam_z) 
              $(arg cam_yaw) $(arg cam_pitch) $(arg cam_roll)
              $(arg cam_parent_frame_id) $(arg cam_frame_id) $(arg tf_period_in_ms)">
  </node>

  <!--IMU1 transforms-->
  <node pkg="tf" 
        type="static_transform_publisher" 
        name="$(arg imu1_parent_frame_id)_to_$(arg imu1_frame_id)" 
        args="$(arg imu1_x) $(arg imu1_y) $(arg imu1_z) 
              $(arg imu1_yaw) $(arg imu1_pitch) $(arg imu1_roll)
              $(arg imu1_parent_frame_id) $(arg imu1_frame_id) 100" /> 

  <!--Map transforms-->
  <node pkg="tf"  type="static_transform_publisher" name="world_to_map" 
        args="$(arg map_offset_x) -$(arg map_offset_y) 0 0 0 0 /world /map $(arg tf_period_in_ms)" />

  <node pkg="tf"  type="static_transform_publisher" name="map_to_mobility" 
        args="0 0 0 0 0 0 /map /mobility $(arg tf_period_in_ms)" />

<!--###################################### SENSOR NODES ########################################-->
<!--Delphi ESR-->
  <group if="$(arg with_esr)" ns="$(arg esr1_frame_id)">

    <node pkg="kvaser_interface" type="kvaser_can_bridge" name="kvaser_can_bridge">
      <param name="can_hardware_id" value="$(arg esr1_kvaser_hardware_id)" />
      <param name="can_circuit_id" value="$(arg esr1_kvaser_circuit_id)" />
      <param name="can_bit_rate" value="500000" />
    </node> 
    <node pkg="delphi_esr" type="delphi_esr_can" name="delphi_esr_can">
      <param name="sensor_frame_id" value="$(arg esr1_frame_id)"/>
      <param name="sensor_upside_down" value="$(arg esr1_upside_down)"/>

      <!-- removes the noise of new tracks in rviz and only vizualizes the mature tracks --> 
      <param name="viz_mature_tracks_only" value="$(arg esr1_viz_mature_tracks_only)"/>
    </node>    
  </group>

  <!--VLP 16s-->
  <group if="$(arg with_vlp16s)">
    <!-- Init VLP-16 front -->
    <group ns="vlp_1">
      <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="calibration" value="$(arg velodyne_calib)" />
        <arg name="device_ip" value="192.168.1.201" />
        <arg name="frame_id" value="velodyne" />
        <arg name="min_range" value="$(arg vlp_min_range)" />
        <arg name="port" value="2368" />
      </include>
    </group>

    <group ns="vlp_2">
      <!-- Init VLP-16 rear -->
      <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="calibration" value="$(arg velodyne_calib)" />
        <arg name="device_ip" value="192.168.2.201" />
        <arg name="frame_id" value="velodyne_rear" />
        <arg name="min_range" value="$(arg vlp_min_range)" />
        <arg name="port" value="2268" />
      </include>
    </group>
  </group>

  <!--Novatel Powerpak 7-->
  <group ns="novatel" if="$(arg with_novatel)">
    <node name="novatel"
          pkg="nodelet" type="nodelet"
          args="standalone novatel_gps_driver/novatel_gps_nodelet">
      <rosparam>
        verbose: true
        connection_type: tcp
        device: 192.168.74.10
        frame_id: /gps
        use_binary_messages: true
        publish_novatel_positions: true
        publish_imu_messages: true
        publish_imu: true
        publish_novatel_velocity: true
        imu_frame_id: /imu
      </rosparam>
    </node>
  </group>

  <!-- Leopard Imaging libuvc Camera -->
  <group ns="camera">
    <include file="$(find libuvc_camera)/launch/libuvc_camera.launch">
      <arg name="camera_info_url" value="file://$(arg camera_calib)"/>
    </include>
  </group>

<!--#################################### PROCESSING NODES #######################################-->
  <!-- Merge front and rear VLP16s -->
  <group if="$(arg with_vlp16s)">   
    <include file="$(find points_preprocessor)/launch/points_concat_filter.launch">
      <arg name="input_topics" value="[/vlp_1/velodyne_points,/vlp_2/velodyne_points]"/>
      <arg name="output_topic" value="/points_raw"/>
      <arg name="output_frame_id" value="velodyne"/>
    </include>
  </group>

</launch>
