<?xml version="1.0"?>
<launch>

  <!-- calibration file path -->
  <arg name="velodyne_calib" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>

  <!-- base_link to velodyne, tf parameters-->
  <arg name="x_front" value="-1.624" />
  <arg name="y_front" value="0.0" />
  <arg name="z_front" value="-1.64" />
  <arg name="yaw_front" value="0.0" />
  <arg name="pitch_front" value="0.0" />
  <arg name="roll_front" value="0.0" />
  <arg name="frame_id_front" value="/base_link" />
  <arg name="child_frame_id_front" value="/velodyne" />
  <arg name="period_in_ms_front" value="10"/>

  <!-- velodyne to velodyne_rear, tf parameters-->
  <arg name="x_rear" default="1.408"/>
  <arg name="y_rear" default="0.0"/>
  <arg name="z_rear" default="0.0"/>
  <arg name="yaw_rear" default="0.0"/>
  <arg name="pitch_rear" default="0.0"/>
  <arg name="roll_rear" default="0.0"/>
  <arg name="frame_id_rear" default="/velodyne"/>
  <arg name="child_frame_id_rear" default="/velodyne_rear"/>
  <arg name="period_in_ms_rear" default="10"/>

  <!-- VLP16 tf nodes-->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_localizer" 
    args="$(arg x_front) $(arg y_front) $(arg z_front) $(arg yaw_front) $(arg pitch_front) 
    $(arg roll_front) $(arg frame_id_front) $(arg child_frame_id_front) $(arg period_in_ms_front)">
  </node>
  <node pkg="tf" type="static_transform_publisher" name="velodyne_rear_to_front" 
    args="$(arg x_rear) $(arg y_rear) $(arg z_rear) $(arg yaw_rear) $(arg pitch_rear) 
    $(arg roll_rear) $(arg frame_id_rear) $(arg child_frame_id_rear) $(arg period_in_ms_rear)">
  </node>

  <group ns="vlp_1">

      <!-- Init VLP-16 front -->
      <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="calibration" value="$(arg velodyne_calib)"/>
        <arg name="device_ip" value="192.168.1.201"/>
        <arg name="frame_id" value="velodyne"/>
        <arg name="port" value="2368"/>
      </include>
  </group>

  <group ns="vlp_2">
      <!-- Init VLP-16 rear -->
      <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="calibration" value="$(arg velodyne_calib)"/>
        <arg name="device_ip" value="192.168.2.201"/>
        <arg name="frame_id" value="velodyne_rear"/>
        <arg name="port" value="2268"/>
      </include>
  </group>

  <!-- Merge front and rear VLP16s -->
  <include file="$(find points_preprocessor)/launch/points_concat_filter.launch">
    <arg name="input_topics" value="[/vlp_1/velodyne_points,/vlp_2/velodyne_points]"/>
    <arg name="output_topic" value="/points_raw"/>
    <arg name="output_frame_id" value="velodyne"/>
  </include>


  <!-- Novatel GNSS -->
  <!--include file="$(find novatel_gps_driver)/launch/tester_for_eth.launch"/-->

</launch>
