<?xml version="1.0"?>
<launch>

  <!-- TF -->
  <include file="$(env HOME)/shared_dir/metec/tf/tf.launch"/>

  <!-- Point Cloud -->
  <node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate $(env HOME)/shared_dir/metec/map/pointcloud_map/shifted-lap3-map1-autoware-190515.pcd" />

  <!-- Vector Map -->
  <node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="$(env HOME)/shared_dir/metec/map/vector_map/area.csv $(env HOME)/shared_dir/metec/map/vector_map/crosswalk.csv $(env HOME)/shared_dir/metec/map/vector_map/dtlane.csv $(env HOME)/shared_dir/metec/map/vector_map/idx.csv $(env HOME)/shared_dir/metec/map/vector_map/intersection.csv $(env HOME)/shared_dir/metec/map/vector_map/lane.csv $(env HOME)/shared_dir/metec/map/vector_map/line.csv $(env HOME)/shared_dir/metec/map/vector_map/node.csv $(env HOME)/shared_dir/metec/map/vector_map/point.csv $(env HOME)/shared_dir/metec/map/vector_map/stopline.csv $(env HOME)/shared_dir/metec/map/vector_map/wayarea.csv $(env HOME)/shared_dir/metec/map/vector_map/whiteline.csv"/>
</launch>

