<?xml version="1.0"?>
<launch>

  <!-- setting path parameter -->
  <arg name="get_height" value="true" />

  <!-- Baselink to Localiser -->
  <arg name="x" value="1.2" />
  <arg name="y" value="0.0" />
  <arg name="z" value="2.0" />
  <arg name="yaw" value="0.0" />
  <arg name="pitch" value="0.0" />
  <arg name="roll" value="0.0" />
  <arg name="frame_id" value="/base_link" />
  <arg name="child_frame_id" value="/velodyne" />
  <arg name="tf_period_in_ms" value="10"/>

  <node pkg="tf" 
        type="static_transform_publisher"
        name="base_link_to_velodyne" 
        args="$(arg x) $(arg y) $(arg z) 
              $(arg yaw) $(arg pitch) $(arg roll)
              $(arg frame_id) $(arg child_frame_id) $(arg tf_period_in_ms)">
  </node>

  <!-- Vehicle Model -->
  <include file="$(find model_publisher)/launch/vehicle_model.launch" />

  <!-- points downsampler -->
  <include file="$(find points_downsampler)/launch/points_downsample.launch" />

  <!-- nmea2tfpose -->
  <include file="$(find gnss_localizer)/launch/nmea2tfpose.launch"/>

  <!-- ndt_matching -->
  <include file="$(find lidar_localizer)/launch/ndt_matching.launch">
    <arg name="get_height" value="$(arg get_height)" />
  </include>

</launch>
